DISCORD_TOKEN=null
REDDIT_CLIENT_ID=id_here
REDDIT_CLIENT_SECRET=secret_here
REDDIT_USER_AGENT='User-Agent:subreddit keyword scanner by u/your_username'
CHANNEL_ID=discord_channel_id
MONITOR_SUB=subreddit_name_without_r/
KEYWORDS='dog, cat'
ENABLE_WELCOME_MESSAGE=true
NEW_POST_LIMIT=10
CHECK_FREQUENCY=60